body, #map{
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: "Fira Sans", sans-serif;
}

#title{
    position: fixed;
    top: -0.5em;
    width: 100%;
    text-align: center;
    background-color: rgba(255,255,255,0.7);
    /*font-family: "Staatliches", cursive;*/
}
#credits{
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0.5em;
    font-size: 0.75em;
}

#infopanel-right-municipio, #infopanel-right-municipios{
    position: fixed;
    top: 0;
    right: -100vw;
    background-color: white;
    height: 100vh;
    transition: 1s;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: initial;
}
.infopanel-right-show{
    transition: 1s;
    right: 0vw !important;
    width: 30vw;
    max-width: 30vw;
}

#infopanel-left-cultivos, #infopanel-left-cultivo{
    position: fixed;
    top: 0;
    left: -100vw;
    background-color: white;
    height: 100vh;
    transition: 1s;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: initial;
}
.infopanel-left-show{
    transition: 1s;
    left: 0vw !important;
    width: 30vw;
    max-width: 30vw;
}
#list-cultivos, #list-municipios{
    margin: 15px;
    overflow-y: scroll;
}
#list-cultivos > p, #list-municipios > p{
    cursor: pointer;
}

#infopanel > p {
    text-align: justify;
}

.close-right, .close-left{
    border: solid black;
    width: 25pt;
    height: 25pt;
    font-size: 22pt;
    text-align: center;
}

.infoheader{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.infoheader > h1{
    flex: 1;
    text-align: center;
}
#content{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}
#infoimage, #cultivo-imagen{
    min-height: 25vh;
    background-size: cover;
    background-position: center;
}
#infocultivos{
    flex: 1;
    margin: 15px;
    overflow-y: scroll;
    width: calc(100% - 30px);
}

#icon-house{
    position: fixed;
    top: 0;
    right: 0;
    border: solid black;
}
#icon-wheat{
    position: fixed;
    top: 0;
    left: 0;
    border: solid black;
}